#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

export PATH:=$(CURDUR)/debian/scripts:$(PATH)

DEB_CONFIGURE_SCRIPT := debian/myautogen.sh
DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/usr --host=$(DEB_HOST_GNU_TYPE) --disable-rpath --disable-gtk-doc --disable-man --enable-static
DEB_MAKE_CLEAN_TARGET := clean
DEB_DH_STRIP_ARGS := --dbg-package=libpango1.0-dbg --exclude=bin

clean::
	[ ! -f Makefile ] || make distclean
